@charset "UTF-8";
/* CSS Document */

main {
	width: 50%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

img {
	width: 100%;	
}

li {
	list-style: none;	
	margin-left: -2em;
}

blockquote {
	color:rgba(107,107,107,1.00);	
}

a {text-decoration: none}

data {
	padding: 0;	
}
